//colors
$color-ligth: white;
$color-dark: rgba(0,0,0,0.75);
$color-medium:#FFFFFF;
$color-mediumPlus:#d4cfd4;
$color-market: rgb(0, 153, 91);
$color-pressed: #4FD053;
$color-pressedOpacity: rgba(79, 208, 83, 0.1);
$color-hover: #F5F5F5;
$color-navProduct:  #666666;

