//colors
$color-ligth: white;
$color-dark: rgba(0,0,0,0.75);
$color-medium:#FFFFFF;
$color-mediumPlus:#d4cfd4;
$color-market: rgb(23, 85, 23);
$color-pressed: #4FD053;
$color-navProduct:  #666666;
;
