  @import '../../stylesheets/commons/vars';

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  
    &__text {
      display: flex;
  
      color: $color-ligth;
      font-size: 25px;
    }
  
    &__img {
      height: 100px;

    }
  }